@keyframes move_back {
  0% { background-position: 0 0 , 0 0 , 0 0; }
  100% { background-position: 0 100% , 100% 200% , 0 0; }
}

@keyframes move_right {
  0% { 
    background-position: 0 0 , 0 0; 
    
  }
  100% { 
    background-position: -125% 115%, 00  ; 
    
  }
}
html, body {
  height: 100%;
  margin: 0;
}

#change{
  position: absolute;
  left: 97%;
  top: 0%;
}
#Body_1 {
	font-family: Arial, Helvetica, sans-serif;
  background:url("./background/back2.png"),url("./background/back3.png"), radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  background-repeat: repeat,repeat,repeat;
  animation: move_back 100s linear infinite;  
  background-attachment : scroll ;
  
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

#Body_2 {
	font-family: Arial, Helvetica, sans-serif;
  background:url("./background/Line.png"), radial-gradient(ellipse at bottom, #5de4e9 0%, #3753d3 100%);
  background-repeat: repeat,repeat;
  animation: move_right 100s linear infinite;  
  background-attachment : scroll ;
  

  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
} 

.CenterBox{
  
  background-color: rgba(182, 219, 229, 0.3);
  align-content: center;
  text-align: center;
  border-radius: 1vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);  
  padding: 1vw;
}

#stat_grid{
  padding:0.2vw; 
}


#profil{
  margin: 5vw;
  align-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.863);  
  border-radius: 1vw;  
  
}
#graphic{
  align-content: center;
  text-align: center;
}

#picture{
  align-self: center;
} 

input[type=text], input[type=password] {
  width: 90%;
  padding: 1vw;
  margin: 1vw;
  
  border: 0.1vw solid #ccc;
  box-sizing: border-box;
  border-radius: 1vw;
  display: block;
  }

span.psw {
  float: right;
  padding-top: 2vw;
}

#changeContinuer{
  
  width: 50%;
  border-radius: 1vw;
	background-color: darkred;
	padding: 0.3vw;
	color: white;
	
}

